#nav{
  background-color: #2E1600;
  margin-top: 0px
}
#logo{
  color: white

}
#input-head{
  margin-right: 5%
}
.row{

  margin-top:60px
}
body{
  background-color: #FFFBF6;
}
.btn-primary  {
    background-color: #E0730E;
    border: 1px solid #E0730E
}
.btn-primary:focus,.btn-primary:hover, .btn-primary:active{
  background-color: #DB883B;
  border: 1px solid #E0730E
}
